*, :root {
    margin: 0;
    padding: 0;
  }
  
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    color: gold;
    background-color: black;
  }
  
  input, select {
    background-color: gold;
    color: black;
  }
  
  .overview {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vmin 0 1vmin 0;
  }
  
  .range {
    display: flex;
  }
  
  @media screen and (max-width: 900px) {
    .filter {
      flex-direction: column;
    }
    .range {
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  .counter {
    padding: 1vmin 0 1vmin 0;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    overflow-y: scroll;
  }
  
  .list > .item {
    padding: 1vmin;
    border: 1px dotted gainsboro;
  }
  
  .list > .item:hover {
    background-color: gold;
    color: black;
  }
  
  .loading-container {
    display: flex;
    flex-direction: column;
    gap: 2vmin;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-container > .spinner {
    border: 1vmin solid gainsboro;
    border-top: 1vmin solid gold;
    border-radius: 50%;
    width: 5vmin;
    height: 5vmin;
    animation: 0.8s spin linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .person-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vmin 0 2vmin 1vmin;
    min-height: 25vh;
    border: 1vmin solid gold;
    position: relative;
  }
  
  .person-details > .close {
    width: 3vmin;
    height: 3vmin;
    position: absolute;
    top: 1vmin;
    right: 1vmin;
    border: 2px solid gold;
    border-radius: 5px;
    color: gold;
    background-color: black;
  }
  
  .person-details > .close:hover {
    background-color: gold;
    color: black;
  }